html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 15px;
}

.filter_input {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1;
  border-radius: 15px;
  font-size: 17px;
  width: 300px;
}

/* Map with a width of 80% of the screen, with the list view on the right */
@media (min-width: 700px) {
  .map-canvas {
    width: 80%;
    height: 100%;
    display: inline-block;
  }

  .listview {
    width: 19%;
    height: 100%;
    overflow: auto;
    display: inline-block;
  }
}

/* Map with a height of 80% of the screen, with the list view below it */
@media (max-width: 699px) {
  .map-canvas {
    width: 100%;
    height: 80%;
  }

  .listview {
    width: 100%;
    height: 20%;
    overflow: auto;
  }
}

.infowindow {
  width: 200px;
}
